language: node_js
dist: xenial
node_js: '12'
cache:
  directories:
    - node_modules
env:
  global:
    - BX_APP=watson-conversation-duo-dev
    - BX_API=https://api.ng.bluemix.net
    - BX_ORGANIZATION=WatsonPlatformServices
    - BX_SPACE=demos
    - B_DOMAIN=ng.bluemix.net
script:
  - npm run build
  - npm test

before_deploy:
  - npm install -g bx-blue-green
deploy:
  - provider: script
    script: bx-blue-green-travis
    on:
      branch: master
      repo: watson-developer-cloud/assistant-demo
    skip_cleanup: true
  - provider: script
    skip_cleanup: true
    script: npx semantic-release
