.chat-container {
  display: flex;
  flex-direction: column;
  .chat-container__header {
    background: $duo-gray-80;
    border-radius: 7px 7px 0 0;
    display: flex;
    padding: 1.1em 1.51515vw;
    @include respond-to-max($breakpoint--lg) {
      min-height: 55px;
      align-items: center;
    }
  }
  .input-with-button {
    background: $duo-gray-90;
    display: flex;
    justify-content: center;
    padding: inherit;
    button {
      position: absolute;
      left: -9999px;
    }
    input {
      flex: 0 1 90%;
      align-self: center;
      border-bottom: 1px solid $duo-gray-50;
    }
  }
  @include respond-to-max($breakpoint--sm) {
    max-height: 100vh;
    height: 100vh;
    padding: 0;
    .chat-container__header {
      border-radius: 0;
    }
    .input-with-button {
      padding: 6.25vw 0;
    }
  }
}