.chat-container {
  display: flex;
  flex-direction: column;
  .chat-container__header {
    background: $duo-gray-80;
    border-radius: 7px 7px 0 0;
    display: flex;
    padding: 1.1em 1.51515vw;
    position: relative;
    z-index: 4;
    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: calc(100% - 15px);
      height: 25px;
      background: linear-gradient(to bottom, rgba(37, 37, 37,1), rgba(37, 37, 37,0));
      z-index: 9999;
    }
    @include respond-to-max($breakpoint--lg) {
      min-height: 55px;
      align-items: center;
    }
  }
  .chat-container__input {
    background: $duo-gray-90;
  }
  .input-with-button {
    background: $duo-gray-90;
    button {
      position: absolute;
      left: -9999px;
    }
    input {
      width: 100%;
      border-bottom: 1px solid $duo-gray-50;
    }
  }
  @include respond-to-max($breakpoint--sm) {
    max-height: 100vh;
    height: 100vh;
    padding: 0;
    .chat-container__header {
      border-radius: 0;
    }
    .input-with-button {
      padding: 6.25vw 0 0;
    }
  }
}