/* set base font size */
html {
  font-size: 16px; }

body {
  background: #171717;
  color: #f3f3f3;
  max-height: 100vh; }

input {
  border-style: none;
  border-color: none;
  border-width: 0;
  background: none;
  font-size: 1em;
  line-height: 1.375em;
  color: white; }
  input:focus {
    outline: none; }

p {
  font-size: 1.125em;
  line-height: 1.5em; }

button {
  background: #3d3d3d;
  border: none;
  border-radius: 0;
  font-size: 0.875em;
  color: #d8d8d8;
  padding: 28px 16px; }
  button:focus {
    outline: none; }

.chat-container {
  max-height: 80vh;
  height: 80vh; }

.chat-header {
  background: #3d3d3d; }

.chat-list {
  background: #252525;
  height: 75%;
  overflow-y: scroll; }

.input-with-button {
  background: #252525;
  display: flex;
  justify-content: center; }
  .input-with-button button {
    position: absolute;
    visibility: hidden;
    opacity: 0; }
  .input-with-button input {
    flex: 0 1 80%;
    margin: 5% 0;
    padding: 0.5rem 0;
    align-self: center;
    border-bottom: 1px solid #8a8a8a; }

.chat-option-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.chat-option__button {
  margin: 0.5rem;
  padding: 10px 20px;
  border-radius: 500px;
  transition: all 0.3s ease-in-out; }

.chat-option__button--selected {
  background: #0f6dff; }

.bot-chat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .bot-chat::before {
    flex: 0 1 1%;
    content: "|";
    padding: 5px;
    color: #0f6dff;
    font-size: 1.2em;
    font-weight: 700; }

.chatBar {
  padding: 0.3rem 0; }

.user-chat {
  text-align: right; }

.bubble {
  background: #757575;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.875em; }

.json-sidebar {
  position: relative; }

.json-overlay {
  position: absolute;
  background: black;
  width: 150%;
  height: 100%;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
  transition: right 0.2s ease-in-out; }

/* Triggered when the JSON button is toggled */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out; }

/* JSON button */
.json-toggle {
  position: relative;
  right: 0;
  float: right;
  z-index: 5; }

.json-toggle--selected {
  background: #054ada;
  transition: all 0.2s ease-in-out; }

/* Begin JSON styles */
.property {
  color: #0f6dff; }
