body {
  background: #171717;
  color: #f3f3f3;
  max-height: 100vh; }

input {
  border-style: none;
  border-color: none;
  border-width: 0;
  background: none; }
  input:focus {
    outline: none; }

p {
  font-size: 16px; }

button {
  background: #3d3d3d;
  border: none;
  border-radius: 0;
  color: #d8d8d8;
  padding: 28px 16px; }
  button:focus {
    outline: none; }

.chat-container {
  max-height: 80vh;
  height: 80vh;
  background: #252525; }

.chat-header {
  background: #3d3d3d; }

.chat-list {
  height: 75%;
  overflow-y: scroll; }

.input-with-button {
  margin: 5%; }
  .input-with-button button {
    visibility: hidden;
    opacity: 0; }
  .input-with-button input {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #8a8a8a;
    color: white; }

.bot-chat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .bot-chat::before {
    flex: 0 1 1%;
    content: "|";
    padding: 0 5px;
    color: #0f6dff;
    font-size: 20px;
    font-weight: 700; }

.chatBar {
  padding: 0.3rem 0; }

.user-chat {
  text-align: right; }

.bubble {
  background: #757575;
  padding: 12px;
  border-radius: 8px; }

.json-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -75%;
  z-index: 2;
  overflow-y: scroll;
  transition: right 0.5s ease-in-out; }

/* Triggered when the JSON button is toggled */
.is-hidden {
  right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }

/* JSON button */
.json-toggle {
  position: relative;
  right: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out; }

/* Triggered when the JSON button is clicked */
.json-toggle--right {
  right: -75%;
  transition: all 0.5s ease-in-out; }

/* Begin JSON styles */
.property {
  color: #0f6dff; }
