.options-sidebar {
  position: relative;
  // height: 65%;
  .options-sidebar-container {
    position: relative;
    height: 100%;
  }
}

.options-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}

/* Tablet size */
@media (max-width: 1055px) {
  .options-sidebar {
    margin: 3.125vw;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .options-panel {
    flex-direction: row-reverse;
  }
}

/* Mobile Size */
@media (max-width: 1056px) {
  .options-sidebar {
    // margin: 6.25vw;
  }
}
@media (max-width: 639px) {
  .options-sidebar {
    margin: 6.25vw;
  }

  .options-panel {
    flex-direction: row-reverse;
  }
}
@media (max-width: 500px) {
  .options-sidebar {
    margin: 0;
  }
}