// transition: [property] [duration] [timing-function] [delay];

// onclick bg color transition
// background: radial-gradient(circle at 0% 50%, rgb(179, 128, 224) 0%, rgb(179, 128, 224) 80%, rgba(0, 0, 0, 0) 100%);
// transition: opacity 205.505ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0ms, left 205.505ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0ms, background-color 205.505ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0ms;


.slide-in-right-down {
  transition: all 299.271ms cubic-bezier(0.4, 0.14, 0.3, 1),
  left 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms,
  width 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms,
  bottom 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 99.7569ms,
  height 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 99.7569ms;
}
@media (max-width: 639px) {
  .slide-in-right-down {
    transition: all 299.271ms cubic-bezier(0.4, 0.14, 0.3, 1),
    right 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms,
    width 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms;
  }
}


.slide-in-right-down--reverse {
  transition: all 299.271ms cubic-bezier(0.4, 0.14, 0.3, 1),
  top 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms,
  height 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 0ms,
  right 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 99.7569ms,
  width 199.514ms cubic-bezier(0.4, 0.14, 0.3, 1) 99.7569ms,
}