@import 'colors';

body {
  background: $duo-gray-100;
  color: $duo-gray-10;
  max-height: 100vh;
}

input {
  border-style: none;
  border-color: none;
  border-width: 0;
  background: none;

  &:focus {
    outline: none;
  }
}

p {
  font-size: 16px;
}

button {
  background: $duo-gray-80;
  border: none;
  border-radius: 0;
  color: $duo-gray-20;
  padding: 28px 16px;

  &:focus {
    outline: none;
  }
}

.chat-container {
  max-height: 80vh;
  height: 80vh;
  background: $duo-gray-90;
}

.chat-header {
  background: $duo-gray-80;
}

.chat-list {
  height: 75%;
  overflow-y: scroll;
}

.input-with-button {
  margin: 5%;

  button {
    visibility: hidden;
    opacity: 0;
  }

  input {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid $duo-gray-50;
    color: $duo-white;
  }
}

.bot-chat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &::before {
//    display: block;
    flex: 0 1 1%;
    content: "|";
    padding: 0 5px;
    color: $duo-blue-60;
    font-size: 20px;
    font-weight: 700;
  }
}

.chatBar {
  padding: 0.3rem 0;
}

.user-chat {
  text-align: right;
}

.bubble {
  background: $duo-gray-60;
  padding: 12px;
  border-radius: 8px;
}

.json-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -75%;
  z-index: 2;
  overflow-y: scroll;
  transition: right 0.5s ease-in-out;
}

/* Triggered when the JSON button is toggled */
.is-hidden {
  right: -100%;
  opacity: 0;
  visibility: hidden; 
  transition: all 0.5s ease-in-out;
}

/* JSON button */
.json-toggle {
  position: relative;
  right: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

/* Triggered when the JSON button is clicked */
.json-toggle--right {
  right: -75%;
  transition: all 0.5s ease-in-out;
}

/* Begin JSON styles */
.token {
  // something with font type here
}

.property {
  color: $duo-blue-60;
}
