/* main imports */
@import 'base';
@import 'colors';

/* vendor imports */
@import '~\@ibm/grid/dist/ibm-grid.min.css';
@import '~\@ibm/type/css/ibm-type.min.css';

/* component specific imports */
@import '../components/App';
@import '../components/ChatContainer/ChatContainer';
@import '../components/ChatList/ChatList';
@import '../components/ChatMessage/ChatMessage';
@import '../components/JsonPane/JsonPane';
@import '../components/PathSelectionOverlay/PathSelectionOverlay';
@import '../components/DemoToggleButton/DemoToggleButton';


.path-selection-card {
  flex: 0 1 40%;
  margin: 1rem;
  padding: 3rem 0;
  background: $duo-blue-60;
}

// TODO: move this to base?
.modal {
  position: absolute;
  top: 0;
  left: 0;
}

.modal--x {
  position: absolute;
  top: 2rem;
  left: 1rem;
  
  svg {
    fill: white;
  }
}
// TODO: move to base selector
.demo-button {
  padding: 30px;
}

.chat-option-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chat-option__button {
  margin: 0 0.5rem;
  padding: 10px 20px;
  border-radius: 500px;
  transition: all 0.3s ease-in-out;
}

.chat-option__button--selected {
  background: $duo-blue-60;
}

.json-sidebar {
  position: relative;
}

.options-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.options-panel__button {
  width: 20%;
  flex: 0 1 100%;
  margin-bottom: 3px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}
