.path-selection__container {
  @include respond-to-min($breakpoint--md) {
    display: flex !important;
    flex-direction: column;
    .demo-button {
      align-self: flex-start;
    }
    .path-selection__description {
      margin-top: auto;
      p {
        &.duo-gray-50 {
          color: $duo-gray-50;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}