.demo-button {
  margin-bottom: 0.1em;
  padding: 1.4em;

  img {
    width: 24px;
    height: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .demo-button {
    margin: 0;
    padding: 1.4em;
  }
}

