.demo-button {
  margin-bottom: 0.1em;
  padding: 1.6em;
  img {
    width: 24px;
    height: 24px;
  }
  &:hover {
    cursor: pointer;
  }
  @include respond-to-max($breakpoint--sm) {
    margin: 0;
    padding: 1.4em;
  }
}
