.path-selection-card {
  flex: 0 1 35%;
  margin: 1px;
  padding: 3rem 0;
  background: $duo-gray-20;
  color: $duo-gray-100;
  &:hover {
  	cursor: pointer;
  	color: $duo-white;
  	background: $duo-gradient-blue;
  }
}